h1#introduction Introduction

p The primary objectives of the MiST database are:

ul
    li
        strong Identify and annotate the signal transduction properties encoded in microbial genomes (and environmental samples)
    li: strong Deliver this information to the scientific community

p We have implemented a sophisticated database structure and distributed computational pipeline to support these efforts. This document explains the RESTful MiST API, and how to use it to effectively mine relevant information contained in the MiST database.

aside Note: We are major proponents of "
    a(href="https://en.wikipedia.org/wiki/Eating_your_own_dog_food") eating our own dog food
    | " - this is the same API that our front-end uses.
