h1#introduction Introduction

p Welcome to the MiST API!

h1#partial-responses Partial Responses

h1#pagination Pagination

h1#linked-models Linked models
p Like most data, genomic data is highly linked. For example, a genome contains many components, each of which contains many genes, etc. We have built the MiST API to make it possible to retrieve linked model data easily and quickly. This section shows how to do this.
