h1#model-structures Model Structures

p The MiST API predominantly utilizes "models" to interact with the underlying database and perform various application logic. In general, a model is a specialized data structure that closely parallels a database table, and contains multiple fields each with a specific data type and validation logic.
